* {
    margin: 0;
    padding: 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Scroll */
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    box-shadow: #222;
    cursor: url(link.cur), auto;}
::-webkit-scrollbar-thumb{
    cursor: url(link.cur), auto;    background-color: #444;

}


body {
    background-color: #222;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: url(pointer.cur),auto;
}
.crud {
    width: 80%;
    margin: auto;
}
.crud .head {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input {
    width: 100%;
    height: 30px;
    margin: 4px 0;
    outline: none;
    border: none;
    background-color: #111;
    border-radius: 4px;
    padding: 4px;
    color: white;
    transition: .3s;
    font-size: 16px;
    cursor: url(pointer.cur), auto;
}
input:focus {
    cursor: url(pointer.cur), auto;
    background-color: #000;
    transform: scale(1.06);
}

.price {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.price small {
    background-color: rgb(31, 123, 154);
    padding: 6px 2px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}
.price small::before{
    content: "Total:";
    font-weight: 200;
}
button {
    margin: 10px 0 ;
    width: 100%;
    background-color: rgb(31, 123, 154);
    outline: none;
    border: none;
    border-radius: 8px;
    color: white;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
    cursor: url(link.cur), auto;

}
button:hover {
    background-color: rgb(39, 148, 185);
    letter-spacing: 1px;
}
.btnsearch {
    display: flex;
    gap: 20px;
}
#deleteAll button{
    background-color: rgb(210, 4, 4);
        width: 100%;
}
.table {
    overflow-x: auto;

}
table {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    border-spacing: 0px;
}


#delete{
    background-color: rgb(210, 4, 4);
    width: 70px;
    font-size: 16px;
}

#update {
    width: 70px;
    font-size: 16px;
}
th {
    text-transform: uppercase;
}
th , td {
    padding: 5px;
    border: 1px #444 solid;
    width: 10%;
}

@media (max-width:767px) {

    button {
            font-size: 14px;
    }
}